  <%= simple_form_for(flat) do |f| %>

      <%= f.input :name %>
      <%= f.input :address %>
      <%= f.input :image %>
      <%= f.input :description %>
      <%= f.input :guests %>
      <%= f.input :price %>

      <div class="button-wrap">
         <div class="article-menu-item">
          <%= link_to flats_path do %>
            <i class="fas fa-arrow-left"></i>
          <% end %>
        </div>
        <%= f.submit class: 'button' %>
      </div>
    <% end %>

