<div class="page-wrap">
  <%= image_tag @flat.image, class:"banner-image" %>

  <div class="show-container">
    <div class="left-side">
      <h1><%= @flat.name %></h1>
      <h5><%= @flat.description %></h5>
      <p></p>

      <h4>More about this apartment</h4>
      <p><%= @flat.description * 10%></p>

      <div class="button-wrap">
        <div class="article-menu-item">
          <%= link_to flats_path do %>
            <i class="fas fa-arrow-left"></i>
          <% end %>
        </div>
        <div class="article-menu-item">
          <%= link_to edit_flat_path(@flat) do %>
            <i class="fas fa-edit"></i>
          <% end %>
        </div>
      </div>
    </div>
    <div class="right-side">

      <h4>Book now</h4>

      <form action="" class="book-form">
        <input class="form-field" type="text" placeholder="From">
        <input class="form-field" type="text" placeholder="To">
        <div class="button">Book</div>
      </form>

      <p></p>

      <h4>Details</h4>
        <div class="flat-info-wrap">
          <i class="fas fa-user-friends"></i> <span><%= @flat.guests%></span>
          <i class="fas fa-euro-sign"></i> <span><%= @flat.price %></span>
        </div>

        <p></p>

      <h4>Share</h4>

        <div class="flat-info-wrap">
          <i class="fab fa-facebook-f"></i>
          <i class="fab fa-twitter"></i>
          <i class="fab fa-pinterest-p"></i>
          <i class="far fa-envelope"></i>
        </div>

    </div>
  </div>
</div>
